.widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // Responsive grid
  gap: 15px; // Space between widgets
  padding: 20px;
}

.widget {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 15px;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 120px;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .left {
    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(120, 120, 120);
    }

    .counter {
      font-size: 28px;
      font-weight: 600;
    }

    .link {
      font-size: 12px;
      border-bottom: 1px solid gray;
      cursor: pointer;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 5px;

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: bold;

      &.positive {
        color: green;
      }
      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 24px;
      padding: 8px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}
